@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
    background: #E5E5E5 !important;
}


.list_items {
    display: flex;
    gap: 30px;
    width: 540px;
    margin-top: 10px;
}

.tel_1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    margin-left: 86px;
}

nav {
    background: #436591;
    padding-top: 10px;
    padding-bottom: 14px;
}

.link_1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    margin-left: 24px;
}

.link_div {
    width: 400px;
    margin-top: 6px;
    margin-left: 86px;
}

.list {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.carousel {
    background: #FECE4E;
    border: 2px solid #FECE4E;
    border-radius: 10px;
    /* width: 1000px; */
    /* height: 400px; */
    justify-content: end;
    /* margin-left: 120px; */
}

.Sarlavha_1 {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 53px;
    color: #FFFFFF;
    text-align: start;
}

.sozchalar_1 {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
    text-align: start;
    margin-top: 15px;
}

.btn_1 {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-align: right;
    color: #FFFFFF;
    background: #2FA56C;
    border-radius: 10px;
    border: none;
    padding: 10px 49px;
    margin-left: -560px;
    margin-top: 70px;
}


header {
    margin-top: 32px;
}

.nima {
    margin-left: -60px;
}


/* .carousel-control-prev-icon{
    border: 2px solid red;
    margin-left: -140px;
    background: #2d7552;
    width: 10px;
    height: 30px;
}

.carousel-control-prev{
    border: 2px solid red;
    margin-left: -22px;
    width: 60px;
    height: 400px;
    background: #0ef802fb;
}

.carousel-control-next-icon{
    border: 2px solid red;
    margin-left: -15px;
    background: #2d7552;
    width: 10px;
    height: 30px;
}
.carousel-control-next{
    border: 2px solid red !important;
    margin-right: -100px !important;
    width: 50px !important;
    height: 400px !important;
    background: #0ef802fb !important;
    height: 100px !important;
    border-radius: 8px;
}   */


.iktta_soz {
    display: flex;
    margin-left: 18px;
}

.soz_1 {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #7A8698;
}

.soz_2 {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    color: #1F2630;
    margin-left: 37px;
}

.t {
    margin-left: 83px;
}

.iktta_sozcha {
    display: flex;
    gap: 55px;
    margin-left: 18px;
}

.card_sar {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 40px;
    text-align: center;
    color: #1F2630;
}

.card_sozcha {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #1F2630;
    text-align: start;
    margin-left: 18px;
}


.card_div {
    width: 240px;
    box-shadow: 2px 1px 10px rgba(0, 0, 0, 0.404);
    border-radius: 6px;
}

.narx_1 {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    text-align: start;
    color: #1F2630;
    margin-left: 18px;
}

hr {
    width: 240px;
}

.narx_turi {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    color: #7A8698;
}

.narx_vaqt {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    color: #7A8698;
    margin-top: 5px;
}

.btn_2 {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    background: #2FA56C;
    border-radius: 10px;
    border: none;
    padding: 10px 19px;
    margin-bottom: 13px;
}


.rang_div {
    background: #FCBD14;
    border-radius: 5px 5px 0px 0px;
    height: 10px;
    width: 100%;
}


/* .rang_div:nth-child(2n){
    background: #2389CA;
}

.rang_div:nth-child(3n){
    background: #ED6E44;
} */


.uchtasini_divi {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin-left: 120px;
    margin-top: 100px;
}

.m {
    background: #2389CA;
}

.n {
    background: #ED6E44;
}

.olovrang_div {
    background: #FF6E3C;
    border-radius: 20px;
    transform: skewX(-20deg);
    padding: 30px 0px 10px 70px;
}

.sozcha_2 {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    transform: skewX(20deg);
}

.sozchalar_3 {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #1F2630;
    margin-top: 23px;
}

.sariv_div {
    background: #FFC50B;
    height: 152px;
    transform: skewX(-20deg);
    border-radius: 20px;
}

.section2 {
    margin-top: 63px;
    background: #FFF;
    padding: 45px 0px   ;
}

.card_divcha {
    background: #fff;
}

.katta_div1 {
    display: flex;
    background: #fff;
    width: 960px;
    background: #FFFFFF;
    border: 1px solid #E4E9EF;
    box-shadow: 0px 20px 30px -15px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    gap: 100px;
    margin-left: 150px;
}

.sarlavha1 {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    color: #1F2630;
}

.sozcha3 {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #1F2630;
    margin-top: 16px;
    margin-bottom: 29px;
}

.btn3 {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-align: right;
    color: #1F2630;
    background: #FFFFFF;
    border: 1px solid #E4E9EF;
    box-shadow: 0px 20px 30px -15px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    border-color: #2FA56C;
    padding: 10px 49px;
}

.btn3:hover{
    box-shadow: 1px 1px 30px rgba(40, 168, 115, 0.7);;
}

.bola_qiz {
    width: 500px;
    height: 280px;
}

.soz_div {
    padding: 20px 0px 16px 30px;
}

.section3 {
    margin-top: 52px;
}


.section4 {
    margin-top: 80px;
    margin-left: -30px;
}

.qiz_text_div {
    display: flex;
    background: linear-gradient(98.07deg, #ED6E44 -5.24%, #FCBD14 85.53%, #FFFFFF 126.15%), #F6AE96;
    box-shadow: 0px 20px 30px -15px rgba(241, 131, 56, 0.6);
    border-radius: 15px 15px 0px 0px;
    padding: 10px 0px 30px 20px;
}

/* .qiz_text_div:nth-child(2n) {
    background: linear-gradient(120.27deg, #2FA56C -2.27%, #2389CA 104.54%), #FFFFFF;
    box-shadow: 0px 20px 30px -15px rgba(40, 148, 168, 0.7);
    border-radius: 15px;
} */

.boshqa_rang {
    background: linear-gradient(120.27deg, #2FA56C -2.27%, #2389CA 104.54%), #FFFFFF;
    box-shadow: 0px 20px 30px -15px rgba(40, 148, 168, 0.7);
    border-radius: 15px 15px 0px 0px;
}

.sarlavha2 {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
}

.sozchalar2 {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    margin-top: 40px;
}

.qiz_texlar_btn_div {
    position: relative;
    border-radius: 15px;
}

.qiz_texlar_btn_div:hover{
    box-shadow: 1px 1px 30px  rgb(241, 130, 56, 0.7);;
}

.aa:hover{
    box-shadow: 1px 1px 30px rgba(40, 148, 168, 0.7);;
}

.qiz {
    position: absolute;
    margin-top: -37px;
    width: 177px;
    height: 255px;
    margin-left: 70px;
}

.btnnni_divi {
    background: #FFFFFF;
    border-radius: 0px 0px 15px 5px;
    padding: 20px 235px 19px 27px;
}
